In [2]:
import pandas as pd
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [3]:
data = pd.read_csv('CarPrice_Assignment.csv')

In [5]:
data.shape

(205, 26)

In [4]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.','hellooo'], 'Sue': ['Pretty good.', 'Bland.','byeeee']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.
2        hellooo        byeeee

In [6]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [6]:
wine_reviews = pd.read_csv("CarPrice_Assignment.csv", index_col=0)
wine_reviews.shape

(205, 25)

In [6]:
data.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [8]:
reviews = pd.read_csv("CarPrice_Assignment.csv", index_col=0)
pd.set_option('max_rows', 10)

In [10]:
data

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [1]:
reviews.country

NameError: name 'reviews' is not defined

In [12]:
data.CarName[1:4]
# data['CarName']

1         alfa-romero stelvio
2    alfa-romero Quadrifoglio
3                 audi 100 ls
Name: CarName, dtype: object

In [20]:
reviews['CarName'][1]

'alfa-romero giulia'

In [10]:
reviews.iloc[1]

symboling                       3
CarName       alfa-romero stelvio
fueltype                      gas
aspiration                    std
doornumber                    two
                     ...
horsepower                    111
peakrpm                      5000
citympg                        21
highwaympg                     27
price                     16500.0
Name: 2, Length: 25, dtype: object

In [34]:
reviews.iloc[3:7, [1,2,5]]

            CarName fueltype carbody
car_ID
4       audi 100 ls      gas   sedan
5        audi 100ls      gas   sedan
6          audi fox      gas   sedan
7        audi 100ls      gas   sedan

In [15]:
reviews.iloc[1:3, 1].values

array(['alfa-romero stelvio', 'alfa-romero Quadrifoglio'], dtype=object)

In [22]:
reviews.loc[1:3, 'CarName']

car_ID
1          alfa-romero giulia
2         alfa-romero stelvio
3    alfa-romero Quadrifoglio
Name: CarName, dtype: object

In [35]:
reviews.loc[3:7, ['CarName', 'fueltype', 'carbody']]

                         CarName fueltype    carbody
car_ID
3       alfa-romero Quadrifoglio      gas  hatchback
4                    audi 100 ls      gas      sedan
5                     audi 100ls      gas      sedan
6                       audi fox      gas      sedan
7                     audi 100ls      gas      sedan

In [ ]:
#iloc uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. So 0:10 will select entries 0,...,9. 
#loc, meanwhile, indexes inclusively. So 0:10 will select entries 0,...,10.