In [6]:
import pandas as pd
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})
import numpy as np

In [3]:
data = pd.read_csv('CarPrice_Assignment.csv')

In [3]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.','hellooo'], 'Sue': ['Pretty good.', 'Bland.','byeeee']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.
2        hellooo        byeeee

In [4]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [5]:
reviews = pd.read_csv("CarPrice_Assignment.csv", index_col=0)
reviews.shape

(205, 25)

In [6]:
reviews.head()

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
car_ID,,,,,,,,,,,,,,,,,,,,,
1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [7]:
reviews = pd.read_csv("CarPrice_Assignment.csv", index_col=0)
pd.set_option('max_rows', 10)

In [8]:
reviews

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
car_ID,,,,,,,,,,,,,,,,,,,,,
1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,188.8,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,188.8,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [ ]:
reviews.CarName
# reviews['CarName']

In [ ]:
reviews['CarName'][1]

In [ ]:
reviews.iloc[1]

In [ ]:
reviews.iloc[1:3, 1]

In [ ]:
reviews.loc[:3, 'CarName']

In [ ]:
reviews.loc[:, ['CarName', 'fueltype', 'carbody']]

In [ ]:
#iloc uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. So 0:10 will select entries 0,...,9. 
#loc, meanwhile, indexes inclusively. So 0:10 will select entries 0,...,10.

In [13]:
data[105:120].fueltype == 'gas'

105     True
106     True
107     True
108    False
109     True
110    False
111     True
112    False
113     True
114    False
115     True
116    False
117     True
118     True
119     True
Name: fueltype, dtype: bool

In [36]:
data[:20].loc[(data.fueltype == 'gas') & (data.enginesize >= 140),['CarName', 'fueltype', 'carbody']]

                     CarName fueltype    carbody
2   alfa-romero Quadrifoglio      gas  hatchback
12                    bmw x1      gas      sedan
13                    bmw x3      gas      sedan
14                    bmw z4      gas      sedan
15                    bmw x4      gas      sedan
16                    bmw x5      gas      sedan
17                    bmw x3      gas      sedan

In [27]:
data[30:40].loc[data.carbody.isin(['sedan', 'hatchback']),['CarName', 'fueltype', 'carbody']]

              CarName fueltype    carbody
30        honda civic      gas  hatchback
31   honda civic cvcc      gas  hatchback
32        honda civic      gas  hatchback
33  honda accord cvcc      gas  hatchback
34   honda civic cvcc      gas  hatchback
35    honda accord lx      gas      sedan
37       honda accord      gas  hatchback
38   honda civic 1300      gas  hatchback
39      honda prelude      gas      sedan

In [ ]:
#reviews.loc[reviews.price.notnull()]
# isnull
#reviews['critic'] = 'everyone'   You can assign either a constant value:  or 
# reviews['index_backwards'] = range(len(reviews), 0, -1)       with an iterable of values: